<!--
  Generated template for the ListproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-grid>
      <ion-row>
          <ion-title>View Products</ion-title>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  	<!-- <ion-item>
	    <ion-label item-start>Select all Products</ion-label>
	    <ion-checkbox item-end [(ngModel)]="selectedAll" (click)="selectAll()"></ion-checkbox>
  	</ion-item> -->

	<ion-list class="cart-list" *ngFor="let product of productdetail">
		<!-- {{product | json}} -->
	  <ion-item text-wrap>
	    <ion-thumbnail item-start>
	      <!-- <img src="{{product.productImage}}"> -->
        <img src="{{product.productImage}}" *ngIf="!product.productImage==''">
        <img src="assets/imgs/bgcolor.png" *ngIf="product.productImage==''">
	    </ion-thumbnail>
	    <div></div>
	    <h3 class="headername">{{product.name}}</h3>
      <p class="qty"><b>Qty:</b> {{product.quantity}}</p>
      <!-- <p class="priceP">₹ {{list.quantity * list.amount}}</p> -->
	    <!-- <p class="cart-parag"><img src="{{product.map}}" class="cart-imgs"> {{product.parag}}</p> -->
	    <p class="cart-parag"><img src="assets/imgs/placeholder.png" class="cart-imgs"> {{product.address}}</p>
	    <img src="assets/imgs/map.png">
	    <p item-end style="color: #000000;" *ngIf="afterAccept">₹ {{product.amount * product.quantity}}</p>
      <div item-end class="icon_middle" *ngIf="beforeAccept"><p item-end style="color: #000000;">₹ {{product.amount * product.quantity}}</p><span><button ion-button class="btn-inquiry" (click)="inquiryProduct(product)">Inquiry</button></span> </div>
	   	<!-- <input type="checkbox" item-end [(ngModel)]="product.selected" (change)="checkIfAllSelected(product)" class="check-css"> -->
	   	<!-- <input type="checkbox" *ngIf="!selectedAll" [(ngModel)]="product.id" > -->
	    <!-- <ion-checkbox item-end class="check-css" [(ngModel)]="checklist"></ion-checkbox> -->
	  </ion-item>
	</ion-list>
</ion-content>

<ion-footer>
  <ion-slides class="slidesCss">
      <ion-slide (ionSlideDidChange)="slideChanged()" class="slide-css">
        <ion-segment [(ngModel)]="requests" (ionChange)="statusChanged($event)" no-border-top>
            <ion-segment-button class="seg-btn" value="home" #home id="home">
              <img src="assets/imgs/house.png" class="imagebgColor">
              <br/>HOME
            </ion-segment-button>
            <ion-segment-button class="seg-btn" value="shopping">
              <img src="assets/imgs/cart.png" class="imagebgColor">
              <br/>SHOPPING LIST
            </ion-segment-button>
            <ion-segment-button class="seg-btn active" value="request">
              <img src="assets/imgs/request.png" class="imagebgColor">
              <br/>REQUEST
            </ion-segment-button>
            <ion-segment-button class="seg-btn" value="profile">
              <img src="assets/imgs/profile.png" class="imagebgColor">
              <br/>PROFILE
            </ion-segment-button>
          </ion-segment>
      </ion-slide>
      <ion-slide (ionSlideDidChange)="slideChanged()" class="slide-css">
        <ion-segment [(ngModel)]="requests" (ionChange)="statusChanged($event)" no-border-top>
            <ion-segment-button class="seg-btn" value="notification">
              <img src="assets/imgs/bell.png" class="imagebgColor">
              <br/>NOTIFICATION
            </ion-segment-button>
            <ion-segment-button class="seg-btn" value="inquiry">
              <img src="assets/imgs/inquiry.png" class="imagebgColor">
              <br/>INQUIRY PRODUCT
            </ion-segment-button>
            <ion-segment-button class="seg-btn" value="invitation">
              <img src="assets/imgs/adduser.png" class="imagebgColor">
              <br/>INVITE FRIENDS
            </ion-segment-button>
            <ion-segment-button class="seg-btn" value="changepwd">
              <img src="assets/imgs/lockbk.png" class="imagebgColor">
              <br/>CHANGE PASSWORD
            </ion-segment-button>
          </ion-segment>
      </ion-slide>
  </ion-slides>
</ion-footer>