page-changepassword {
	.row-css{
		border-bottom: 1px solid #b3b2b3;
	}
	.col-in{
		align-items: center !important;
    	justify-content: center !important;
    	text-align: center !important;
    	vertical-align: center !important;
	}
	.img-size1{
		width: 20px;
    	height: 17px;
	}
	.item-css{
		margin-top: -17px;
	}
	.input-text{
		margin-left: -40px;
		margin-bottom: -21px;
	}
	.label-css{
		margin-bottom: -9px;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-ios.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-wp.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
	    color: #999;
	    font-size: 12px;
	}
	.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
	    color: #999;
	    font-size: 12px;
	}
	.item-input .label-wp, .item-select .label-wp, .item-datetime .label-wp {
	    color: #999;
	    font-size: 12px;
	}
	.parag{
		text-align: center;
    	font-size: 17px;
	}
}
