<!--
  Generated template for the OrderproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col col-4 col-xl-4>
        </ion-col>
        <ion-col col-4 col-xl-4>
          <ion-title>Order Products</ion-title>
        </ion-col>
        <ion-col col-4 col-xl-4 style="text-align: right;">
          <button ion-button class="btnInvite" (click)="placeOrder()">Order place</button>
          <!-- <img src="assets/imgs/circleplus.png" style="height: 24px;"> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list class="cart-list" *ngFor="let list of lists;let i = index ">
		<!-- {{list | json}} -->

	  <ion-item>
	    <ion-thumbnail item-start>
	      <!-- <img src="{{list.image}}"> -->
	      <img src="{{list.productImage}}" *ngIf="!list.productImage==''">
	      <img src="assets/imgs/bgcolor.png" *ngIf="list.productImage==''">
	    </ion-thumbnail>
	    <h3 style="font-weight: 500;color: #2E2E2E;"> {{list.name}} </h3>
	    <p style="color: #2E2E2E;font-weight: 500;"> ₹ {{list.amount * productdetail[i].quantity}} </p>

	    <!-- <ion-icon name="md-add-circle" item-end class="icon-color" (click)="incrementQty(quantity, i)"></ion-icon>
	    <p item-end style="font-weight: 500;color: #2E2E2E;"> {{quantity}} </p>
	   	<ion-icon name="md-remove-circle" item-end class="icon-color" (click)="decrementQty(quantity, i)"></ion-icon> -->

	   	<ion-icon name="md-add-circle" item-end class="icon-color" (click)="incrementQty(i)"></ion-icon>
	    <p item-end style="font-weight: 500;color: #2E2E2E;">{{productdetail[i].quantity}}</p>
	   	<ion-icon name="md-remove-circle" item-end class="icon-color" (click)="decrementQty(i)"></ion-icon>

	   	<ion-icon name="ios-close-circle-outline" class="close-icon" item-end (click)="closeProduct(list)"></ion-icon>
	  </ion-item>
	</ion-list>
	<br/>
	<div class="error-message">
		{{error}}
	</div>
	<br/>
	<ion-item class="text-input">
	  <ion-label stacked class="label-font">Address</ion-label>
	  <ion-input type="text" class="input-font" [(ngModel)]="address"></ion-input>
	</ion-item>
	<ion-item class="text-input">
	  <ion-label stacked class="label-font">Contact No</ion-label>
	  <ion-input type="tel" class="input-font" [(ngModel)]="contact"></ion-input>
	  <!-- <ion-input type="tel" class="input-font" minlength=10 maxlength=10 [(ngModel)]="contact"></ion-input> -->
	</ion-item>

 <br/>
 <br/>
 <br/>
	<ion-list radio-group [(ngModel)]="payment">
      <ion-list-header class="radio-header">
        Choose to pay
      </ion-list-header>
	  	<ion-grid class="radio-grid">
	  		<ion-row>
	  			<ion-col col-1 col-xl-1>
			      	<ion-radio value="cash" checked></ion-radio>
		      </ion-col>
		      <ion-col col-2 col-xl-2>
			        <ion-label class="radio-lable">Cash</ion-label>
		      </ion-col>
		      <ion-col col-1 col-xl-1>
			        <ion-radio value="paypal"></ion-radio>
		      </ion-col>
		      <ion-col col-3 col-xl-3>
			        <ion-label class="radio-lable">Paypal</ion-label>
		      </ion-col>
	      </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list radio-group [(ngModel)]="havingcar">
      <ion-list-header class="radio-header">
        Have a car?
      </ion-list-header>
	  	<ion-grid class="radio-grid">
	  		<ion-row>
	  			<ion-col col-1 col-xl-1>
			      	<ion-radio value="yes" checked></ion-radio>
		      </ion-col>
		      <ion-col col-2 col-xl-2>
			        <ion-label class="radio-lable">Yes</ion-label>
		      </ion-col>
		      <ion-col col-1 col-xl-1>
			        <ion-radio value="no"></ion-radio>
		      </ion-col>
		      <ion-col col-3 col-xl-3>
			        <ion-label class="radio-lable">No</ion-label>
		      </ion-col>
	      </ion-row>
      </ion-grid>
    </ion-list>

</ion-content>

<ion-footer class="applyFooter">
  <ion-toolbar>
    <ion-grid ion-fixed>
		    <ion-row>
		      <ion-col col-12 col-xl-12>
		        <ion-list>
		            <ion-card>
		              <ion-slides class="slidesCss">
		                  <ion-slide (ionSlideDidChange)="slideChanged()">
		                    <ion-grid class="grid-css" (click)="gotoHome()">
		                      <ion-row>
		                        <ion-col col-12>
		                          <img src="assets/imgs/house.png" class="imagebgColor">
		                        </ion-col>
		                        <ion-col col-12 class="title-col">
		                          <p class="footerP">HOME</p>
		                        </ion-col>
		                      </ion-row>
		                    </ion-grid>
		                    <ion-grid class="grid-css" (click)="gotoCart()">
		                      <ion-row>
		                        <ion-col col-12>
		                          <img src="assets/imgs/cart.png" class="imagebgColor">
		                        </ion-col>
		                        <ion-col col-12 class="title-col">
		                          <p class="footerP">SHOPPING LIST</p>
		                        </ion-col>
		                      </ion-row>
		                    </ion-grid>
		                    <ion-grid class="grid-css active" (click)="gotoRequestlist()">
		                      <ion-row>
		                        <ion-col col-12>
		                          <img src="assets/imgs/request.png" class="imagebgColor">
		                        </ion-col>
		                        <ion-col col-12 class="title-col">
		                          <p class="footerP">REQUEST</p>
		                        </ion-col>
		                      </ion-row>
		                    </ion-grid>
		                    <ion-grid class="grid-css" (click)="gotoProfile()">
		                      <ion-row>
		                        <ion-col col-12 >
		                          <img src="assets/imgs/profile.png" class="imagebgColor">
		                        </ion-col>
		                        <ion-col col-12 class="title-col">
		                          <p class="footerP">PROFILE</p>
		                        </ion-col>
		                      </ion-row>
		                    </ion-grid>
		                  </ion-slide>
		                  <ion-slide (ionSlideDidChange)="slideChanged()">
		                    <ion-grid class="grid-css" (click)="gotoNotification()">
		                      <ion-row>
		                        <ion-col col-12 >
		                          <img src="assets/imgs/bell.png" class="imagebgColor">
		                        </ion-col>
		                        <ion-col col-12 class="title-col">
		                          <p class="footerP">NOTIFICATION</p>
		                        </ion-col>
		                      </ion-row>
		                    </ion-grid>
		                    <ion-grid class="grid-css" (click)="gotoInquiryProduct()">
		                      <ion-row>
		                        <ion-col col-12 >
		                          <img src="assets/imgs/inquiry.png" class="imagebgColor">
		                        </ion-col>
		                        <ion-col col-12 class="title-col">
		                          <p class="footerP">INQUIRY PRODUCT</p>
		                        </ion-col>
		                      </ion-row>
		                    </ion-grid>
		                    <ion-grid class="grid-css" (click)="gotoInviteFriend()">
		                      <ion-row>
		                        <ion-col col-12 >
		                          <img src="assets/imgs/adduser.png" class="imagebgColor">
		                        </ion-col>
		                        <ion-col col-12 class="title-col">
		                          <p class="footerP">INVITE FRIENDS</p>
		                        </ion-col>
		                      </ion-row>
		                    </ion-grid>
		                    <ion-grid class="grid-css" (click)="gotoChangePassword()">
		                      <ion-row>
		                        <ion-col col-12 >
		                          <img src="assets/imgs/lockbk.png" class="imagebgColor">
		                        </ion-col>
		                        <ion-col col-12 class="title-col">
		                          <p class="footerP">CHANGE PASSWORD</p>
		                        </ion-col>
		                      </ion-row>
		                    </ion-grid>
		                  </ion-slide>
		                </ion-slides>
		            </ion-card>
		        </ion-list>
		       </ion-col>
		    </ion-row>
		</ion-grid>
  </ion-toolbar>
</ion-footer>
