page-requestdetail {
	.active {
		max-height: 54px;
	    background-color: #000000;
	    color: white;
	    border-bottom: 1px solid #0A76D2 ;
	}
	.slide-zoom {
	    text-align: center;
	    display: contents !important;
	    width: 100%;
	}

	.card-md {
	    // margin: 0px;
	    margin-top: -38px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.footerP{
		font-size: 9px;
		margin: 6px -11px -3px;
    	color: #fff;
    	font-weight: 500;
	}
	.slidesCss{
	    max-height: 56px;
	    background-color: #0A76D2;
	}
	.imagebgColor{
		height: 20px;
		width: 20px;
		margin: auto;
	}
	.swiper-slide img {
	    max-width: 25px;
	    max-height: 25px;
	    // margin-top: -10px;
	}
	.grid-css{
		border-right: 1px solid #0967B7;
		cursor: pointer;
	}
	.grid-css:active {
		max-height: 54px;
		background-color: #000000;
		cursor: pointer;
		border-bottom: 1px solid #0A76D2 ;
	}
	.grid-css:focus{
		max-height: 54px;
		background-color: #000000;
		cursor: pointer;
		border-bottom: 1px solid #0A76D2 ;
	}
	.ion-fixed:focus{
		max-height: 54px;
		background-color: #000000;
		cursor: pointer;
		border-bottom: 1px solid #0A76D2 ;
	}
	.grid-css:hover, .grid-css.selected {
		max-height: 54px;
	    background-color: #000000;
	    color: white;
	    border-bottom: 1px solid #0A76D2 ;
	}
	.grid-css:visited {
		max-height: 54px;
	    background-color: #000000;
	    color: white;
	    border-bottom: 1px solid #0A76D2 ;
	}
	.title-col{
		margin-top: -10px;
	}
	.toolbar-ios ion-title {
	    left: -40px;
	    top: -40px;
	    padding: 0 28px -11px !important;
	    position: absolute;
	    width: 100%;
	    transform: translateZ(0);
	    pointer-events: none;
	}
	.toolbar-title {
	    display: block;
	    overflow: visible !important;
	    width: 100%;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.list-ios {
	    margin: 0px 0 20px;
	}
	.list-wp {
	    margin: -49px 0 20px;
	}
	.card-ios {
	    // margin: 0px;
	    margin-top: -38px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.card-wp {
	    // margin: 0px;
	    margin-top: -35px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.toolbar-title-wp {
		font-weight: 500;
	    text-transform: none;
	}
	.cart-imgs{
		height: 14px;
		width: 12px;
	}
	.cart-parag{
		font-size: 10px;
    	color: #6C6C6C;
    	font-weight: 500;
	}
	.cart-list{
		border-bottom: 1px solid #D1D1D1;
		margin: 0px;
	}
	.item-md ion-thumbnail {
	    min-width: 50px;
	    min-height: 50px;
	}
	.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
	    width: 75px !important;
	    height: 75px !important; 
	    border-radius: 4px;
	}
	.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
	    width: 75px !important;
	    height: 75px !important; 
	    border-radius: 4px;
	}
	.toolbar-title-wp {
		font-weight: 500;
	    text-transform: none;
	}
	.item-wp ion-thumbnail ion-img, .item-wp ion-thumbnail img {
	    width: 75px !important;
	    height: 75px !important; 
	    border-radius: 4px;
	}
	.delete-img{
		height: 24px;
		width: 24px;
	}
	.item-md .item-button {
	    margin-top: 12px;
	    padding-top: 10px;
	    padding-left: 7px;
	}
	.item-ios .item-button {
	    margin-top: 12px;
	    padding-top: 10px;
	    padding-left: 7px;
	}
	.item-wp .item-button {
	    margin-top: 12px;
	    padding-top: 7px;
	    padding-left: 5px;
	}
	.priceP{
		color: #000000;
	    font-weight: 500;
	    font-size: 16px;
	}
	.back-button-wp {
	    margin: 0px -15px;
	    min-width: 44px;
	    box-shadow: none;
	}
	// content css
	.productname{
		font-weight: 500;
	}
	.productname:hover{
		font-weight: 500;
		color: #0F66B8;
		cursor: pointer;
	}
}
