<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>signin</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding scrollY="false">

	<ion-grid>
  		<ion-row class="row-center">
  			<ion-col col-1 col-xl-1>
  				
  			</ion-col>
  			<ion-col col-10 col-xl-10>
  				<p class="text-color"><b class="bold-text">Purchasing</b> App</p>
  			</ion-col>
  			<ion-col col-1 col-xl-1>
  				
  			</ion-col>
  		</ion-row>
  	</ion-grid>
  	<ion-grid>
  		<ion-row class="row-center">
  			<ion-col col-12 col-xl-12 class="login-col">
  				<p class="login-text"><b>Login In With</b></p>
  			</ion-col>
  		</ion-row>

  		<ion-row>
  			<ion-col col-6 col-xl-6>
  				<button class="loginBtn loginBtn--google" (click)="googlelogin()"><img src="assets/imgs/google-plus.png" class="img-size"></button>
  			</ion-col>
  			<ion-col col-6 col-xl-6>
  				<button class="loginBtn loginBtn--facebook" (click)="fblogin()"><img src="assets/imgs/facebook.png" class="img-size"></button>
  			</ion-col>
  		</ion-row>
  	</ion-grid>
  	<br/>
  	<br/>
  	<br/>
  	<form [formGroup]="signInFrom" (submit)="userLogin()">
	  	<ion-grid>
	  		<ion-row class="row-css">
	  			<ion-col col-1 col-xl-1 class="col-in">
	  				<img src="assets/imgs/close-envelope.png" class="img-size1">
	  			</ion-col>
	  			<ion-col col-11 col-xl-11 class="col-in2">
	  				<ion-item class="item-css">
				    	<ion-label fixed class="label-css">Email</ion-label>
				    	<ion-input class="input-text" type="email" formControlName="email" [class.invalid]="!signInFrom.controls.email.valid && signInFrom.controls.email.dirty"></ion-input>
				  	</ion-item>	
	  			</ion-col>
	  		</ion-row>
	  		<div class="error-message" 
		      *ngIf="!signInFrom.controls.email.valid  && signInFrom.controls.email.dirty">
		      <p class="parag">Please enter a valid email.</p>
		    </div>
			   
	  		<ion-row class="row-css" style="margin-top: 20px;">
	  			<ion-col col-1 col-xl-1 class="col-in">
	  				<img src="assets/imgs/lock.png" class="img-size1">
	  			</ion-col>
	  			<ion-col col-11 col-xl-11 class="col-in2">
	  				<ion-item class="item-css">
				    	<ion-label fixed class="label-css">Password</ion-label>
				    	<ion-input class="input-text" formControlName="password" type="password"
        	[class.invalid]="!signInFrom.controls.password.valid && signInFrom.controls.password.dirty"></ion-input>
				  	</ion-item>	
	  			</ion-col>
	  		</ion-row>
	  		<div class="error-message" 
			      *ngIf="!signInFrom.controls.password.valid  && signInFrom.controls.password.dirty">
			      <p class="parag">Your password needs more than 6 characters.</p>
			</div>
		
	  		<div class="error-message">
				{{error}}
			</div>
	  		<br/>
	  		<br/>
	  		<button ion-button full class="signinBtn" type="submit">Sign In</button>
	  		<br/>
	  		<button ion-button full class="signupBtn" (click)="gotoSignUp()">Sign Up</button>
	  		<ion-label class="fgpwd" (click)="gotoforgotPassword()">Forgot Password?</ion-label>
	  	</ion-grid>
  	</form>

</ion-content>
