// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.cursor{
	cursor: pointer;
}
$text-input-md-show-success-highlight:      false;
$text-input-md-show-error-highlight:        false;

.input-cover{position: static}

.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}
// .padding-top {
//   margin-top: 56px !important;
// }

.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child, .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child, .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child, .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
    padding-top: calc(20px + 4px);
    padding-top: calc(constant(safe-area-inset-top) + 4px);
    padding-top: calc(env(safe-area-inset-top) + 4px);
    min-height: calc(0px + 20px);
    min-height: calc(44px + constant(safe-area-inset-top));
    min-height: calc(44px + env(safe-area-inset-top));
}
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #F3F4F6;
}
.toolbar-background-ios {
    background: #F3F4F6;
}

.toolbar-background-wp {
    border-color: #b2b2b2;
    background: #F3F4F6;
}

.platform-ios .padding-top{
    margin-top: 61px !important;
}
.platform-android .padding-top{
    margin-top: 56px !important;
}
.platform-windows .padding-top{
    margin-top: 45px !important;
}

.back-button-md {
    margin: 0 -10px;
    box-shadow: none;
}
.toolbar-ios {
    // padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 61px;
}
.error-message{
    color: red !important;
    text-align: center;
}
.platform-ios .ios-header {
  height:calc(58px + 22px);
  min-height:calc(58px + 22px);
  padding-top:25px;
}
// body.keyboard-is-open ion-footer {
//   display: none;
// }

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}

body.keyboard-is-open .fixed-content {
  margin-bottom: 0 !important;
}

body.keyboard-is-open .applyFooter{
        display: none;
        bottom: 0;
}

.text-input-wp {
    margin: 13px 8px;
    padding: 0 8px;
    width: calc(100% - 8px - 8px);
    border: 0px;
    line-height: 3rem;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    // color: #000;	
    pointer-events: auto;
}
.toolbar-title-md {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    // color: #000;	
    pointer-events: auto;
}
.toolbar-title-wp {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    // color: #000;	
    pointer-events: auto;
}
p{
      line-height: 24px;
}
.title-wp{
  text-transform: none !important;
}

// modal transeparency
  .modal {
    background: rgba(0,0,0,0.5);
  }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #333333;
    opacity:0.8; // I ADDED THIS LINE 
      // }
  }
  .active .modal-backdrop-bg {
    opacity: .5;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
  }
  .custom-popover {

    .ion-backdrop
    {
      opacity:0.4;
    }
  }
  .scroll-content {
    overflow-y: auto !important;
  }

.toast-success {
  > div{
       background-color:#00c851!important;
   }
}
.toast-error {
    > div{
       background-color:#ff3547!important;
   }
}
