page-forgotpassword {
	.row-css{
		border-bottom: 1px solid #b3b2b3;
	}
	.col-in{
		align-items: center !important;
    	justify-content: center !important;
    	text-align: center !important;
    	vertical-align: center !important;
	}
	.img-size1{
		width: 15px;
    	height: 17px;
	}
	.item-css{
		margin-top: -17px;
	}
	.label-css{
		margin-bottom: -9px;
	}
	.input-text{
		margin-left: -40px;
		margin-bottom: -21px;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-ios.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-wp.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
	    color: #999;
	}
	.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
	    color: #999;
	}
	.item-input .label-wp, .item-select .label-wp, .item-datetime .label-wp {
	    color: #999;
	}
	.input-text{
		margin-left: -40px;
		margin-bottom: -21px;
	}
	.item-md {
	    padding-left: 0px;
	    padding-right: 0;
	    position: relative;
	    font-size: 12px;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: #fff;
	    box-shadow: none;
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    margin-top: -25px !important;
	}
	.item-md:hover {
	    background-color: transparent;
	}
	.item-ios {
	    padding-left: 0px;
	    padding-right: 0;
	    position: relative;
	    font-size: 12px;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: #fff;
	    box-shadow: none;
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    margin-top: -25px !important;
	}
	.item-wp {
	    padding-left: 0px;
	    padding-right: 0;
	    position: relative;
	    font-size: 12px;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: #fff;
	    box-shadow: none;
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    margin-top: -25px !important;
	}
	.para{
		color: #999;
	}
	.row-center {
	    position:absolute;
	    left: 0;
	    right: 0;
	    margin:0 auto;
	    top:40%;
	    transform:translateY(-50%);
	}
	.card-css{
		min-height: 578px;
    	width: 110%;
    	margin-left: -15px;
    	margin-top: -15px;
	}
	.card-ios {
	    min-height: 590px !important;
	}
	.resetBtn{
		background-color: #0B79D5;
		min-height: 49px;
    	transition: none;
    	border-radius: 3px;
    	position: absolute;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    bottom: -200px;
	    transform: translateY(100%);
	    transition: none;
	}
	.button-full {
	    display: block;
	    width: 90%;
	    contain: strict;
	}
	.error-message{
	    color: red !important;
	    text-align: center;
	}
	.parag{
		color: red;
	}
}
