page-productdetail {
	.slide-zoom {
	    text-align: center;
	    display: contents !important;
	    width: 100%;
	}

	.card-md {
	    // margin: 0px;
	    margin-top: -38px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.footerP{
		font-size: 9px;
		margin: 6px -11px -3px;
    	color: #fff;
    	font-weight: 500;
	}
	// .slidesCss{
	//     max-height: 56px;
	//     background-color: #0A76D2;
	// }
	.imagebgColor{
		height: 20px;
		width: 20px;
		margin: auto;
	}
	.swiper-slide img {
	    max-width: 25px;
	    max-height: 25px;
	    // margin-top: -10px;
	}
	.title-col{
		margin-top: -10px;
	}
	.toolbar-ios ion-title {
	    left: -55px;
    	// top: -25px;
	    padding: 0 28px -11px !important;
	    position: absolute;
	    width: 100%;
	    transform: translateZ(0);
	    pointer-events: none;
	}
	.toolbar-title {
	    display: block;
	    overflow: visible !important;
	    width: 100%;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.list-ios {
	    margin: 0px 0 20px;
	}
	.list-wp {
	    margin: -49px 0 20px;
	}
	.card-ios {
	    // margin: 0px;
	    margin-top: -38px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.card-wp {
	    // margin: 0px;
	    margin-top: -35px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.toolbar-title-wp {
		font-weight: 500;
	    text-transform: none;
	}
	.back-button-wp {
	    margin: 0px -15px;
	    min-width: 44px;
	    box-shadow: none;
	}

	// content css
	.image {
	    height: 73px;
    	padding: 19px;
    	width: 73px;
	    background: #DCDBDC;
	    border-radius: 50%;
	    margin: auto;
	    display: block;
	} 
	.cameraImg{
		width: 35px;
		height: 35px;
	  	margin: auto;
	  	display: block;
	}
	.row-css{
		border-bottom: 1px solid #D0D0D0;
	}
	.col-in{
		align-items: center !important;
    	justify-content: center !important;
    	text-align: center !important;
    	vertical-align: center !important;
	}
	.item-css{
		margin-top: -17px;
	}
	.label-css{
		margin-bottom: -9px;
		font-weight: 400 !important;
    	font-size: 12px;
	}
	.input-text{
		color: #999;	
		font-weight: 500;
	}
	.input-textarea {
		font-weight: 400;
		color: #999;	
    	margin-left: -5px !important;
    	margin-bottom: -5px !important;
	}
	textarea.text-input {
	    display: block;
	    min-height: 50px;
	}
	.margn{
		margin-top: 5px;
	}
	.marginArea{
		margin-top: 15px;
		padding-left: 0px;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-ios.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-wp.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: none;
	}
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
	    color: #999;
	}
	.item-input:focus .label-md:focus, .item-select:focus .label-md:focus, .item-datetime:focus .label-md:focus {
	    color: #4D93CE;
	}
	.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
	    color: #999;
	}
	.item-input .label-wp, .item-select .label-wp, .item-datetime .label-wp {
	    color: #999;
	}
	.item-md {
	    padding-left: 2px;
	    padding-right: 0;
	    position: relative;
	    font-size: 12px;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: #fff;
	    box-shadow: none;
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    margin-top: -16px !important;
	}
	.item-md:hover {
	    background-color: transparent;
	}
	//#4D93CE
	.item-input:focus{
		color: #4D93CE !important;
	}
	.item-ios {
	    padding-left: 0px;
	    padding-right: 0;
	    position: relative;
	    font-size: 12px;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: #fff;
	    box-shadow: none;
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    margin-top: -16px !important;
	}
	.item-wp {
	    padding-left: 0px;
	    padding-right: 0;
	    position: relative;
	    font-size: 12px;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: #fff;
	    box-shadow: none;
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    margin-top: -16px !important;
	}
	.title-md{
		margin-top: 5px;
    	// margin-left: -16px;
	}
	.chooseImg {
		// border: transparent;
		border: 1px solid #e0e0e0;
		border-radius: 100px;
		height: 100px;
	    width: 100px;
	    margin: auto;
	    display: block;
	}

	// new css
	.slide-css {
		height: 70px !important;
	}
	.slidesCss{
	    max-height: 56px;
	    background-color: #0A76D2;
	}
	.active {
		max-height: 72px;
	    background-color: #000000 !important;
	    color: white;
	    // border-bottom: 1px solid #0A76D2 ;
	}
	.seg-btn {
		border-right: 1px solid #096BBE;
		height: 72px !important;
		opacity: 1 !important;
		font-size: 8px !important;
    	color: #fff !important;
	    border-bottom: none !important;
	    line-height: 12px !important;
	    padding: 13px 6px !important;
	    // background-color: #000000 !important;
	}
	.seg-btn{
		border-right: 1px solid #0967B7;
		cursor: pointer;
		// list-style-type: none;
		// display: inline-block;
	}
	.seg-btn:active {
		max-height: 72px;
		background-color: #000000;
		cursor: pointer;
		// border-bottom: 1px solid #0A76D2 ;
	}
	.seg-btn:focus{
		max-height: 72px;
		background-color: #000000;
		cursor: pointer;
		// border-bottom: 1px solid #0A76D2 ;
	}
	.seg-btn:hover, .seg-btn.selected {
		max-height: 72px;
	    background-color: #000000;
	    color: white;
	    // border-bottom: 1px solid #0A76D2 ;
	}
	.seg-btn:visited {
		max-height: 72px;
	    background-color: #000000;
	    color: white;
	    // border-bottom: 1px solid #0A76D2 ;
	}
	.segment-button.segment-activated {
	    color: #fff;
	    background-color: #000000 !important;
	}
}
