page-editmodal {
	.item.wrap, .item-content.wrap {
		white-space: normal;
	}
	.modalPage{
		left: 3%;
    	top: 20%;
    	position: absolute;
    	display: block;
    	width: 90%;
    	height: 70%;
    	border-radius: 5px;
    	border: 1px solid #e0e0e0;
	}
	.modal-title{
		border-bottom: 1px solid #dedede;
		background-color: #efefef !important;
		height: 45px;
		border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
	}
	.scroll-content {
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    position: absolute;
	    z-index: 1;
	    display: block;
	    overflow-x: hidden;
	    overflow-y: hidden;
	}
	.input-text{
		border: 1px solid;
		color: #999999;
		border-color: #E1E1E1;
		font-weight: 500;
		border-radius: 3px;
	}
	.cancel-btn{
		background-color: #000000;
		text-align: center;
		text-transform: inherit;
		font-size: 16px;
	}
	.edit-btn{
		background-color: #0B79D5;
		text-align: center;
		text-transform: inherit;
		font-size: 16px;
	}
	.cancel-btn.activated {
	    background-color: #000000;
	}
	.edit-btn.activated {
	    background-color: #0B79D5;
	}
	.label-text{
		font-weight: bold;
	}
	// ion-modal.custom-popup ion-backdrop {
	//     visibility: visible !important;
	//     z-index:0;
	// }
	// ion-modal.custom-popup .modal-wrapper{
	//     top: 20%;
	//     width:60%;
	//     height:300px;
	//     position:absolute;
	// }
	ion-modal {

    ion-backdrop {
        visibility: visible;
	        opacity: 0.75;
	        z-index: 0;
	    }
	}
	.button-md {
		box-shadow: 0px !important;
		-webkit-box-shadow: 0 !important;
	}
	.button-md {
	    -webkit-box-shadow: none !important;
	    box-shadow: none !important; 
	    -webkit-transition: none !important;
	    transition: none !important;
	    transition: none !important;
	    transition: none !important;
	}
}
