page-requestlist {
	.active {
		max-height: 55px;
	    background-color: #000000;
	    color: white;
	    // border-bottom: 1px solid #0A76D2 ;
	}
	.slide-zoom {
	    text-align: center;
	    display: contents !important;
	    width: 100%;
	}

	.card-md {
	    // margin: 0px;
	    margin-top: -38px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.footerP{
		font-size: 9px;
		margin: 6px -11px -3px;
    	color: #fff;
    	font-weight: 500;
	}
	.slidesCss{
	    max-height: 56px;
	    background-color: #0A76D2;
	}
	.imagebgColor{
		height: 20px;
		width: 20px;
		margin: auto;
	}
	.swiper-slide img {
	    max-width: 25px;
	    max-height: 25px;
	    // margin-top: -10px;
	}
	.grid-css{
		border-right: 1px solid #0967B7;
		cursor: pointer;
	}
	.grid-css:active {
		max-height: 55px;
		background-color: #000000;
		cursor: pointer;
		// border-bottom: 1px solid #0A76D2 ;
	}
	.grid-css:focus{
		max-height: 55px;
		background-color: #000000;
		cursor: pointer;
		// border-bottom: 1px solid #0A76D2 ;
	}
	.ion-fixed:focus{
		max-height: 55px;
		background-color: #000000;
		cursor: pointer;
		// border-bottom: 1px solid #0A76D2 ;
	}
	.grid-css:hover, .grid-css.selected {
		max-height: 55px;
	    background-color: #000000;
	    color: white;
	    // border-bottom: 1px solid #0A76D2 ;
	}
	.grid-css:visited {
		max-height: 55px;
	    background-color: #000000;
	    color: white;
	    // border-bottom: 1px solid #0A76D2 ;
	}
	.request-grid{
		border: 1px solid #F2F2F2;
    	border-radius: 2px;
    	margin-top: 10px;
	}
	.request-img{
	    height: 31px;
    	width: 31px;
    	border-radius: 5px;
	}
	.title-col{
		margin-top: -10px;
	}
	.toolbar-ios ion-title {
	    // left: -30px;
	    // top: -20px;
	    // padding: 0px 45px 10px !important;
	    position: absolute;
	    width: 100%;
	    transform: translateZ(0);
	    pointer-events: none;
	}
	.toolbar-title {
	    display: block;
	    overflow: visible !important;
	    width: 100%;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.list-ios {
	    margin: 0px 0 20px;
	}
	.list-wp {
	    margin: -49px 0 20px;
	}
	.card-ios {
	    // margin: 0px;
	    margin-top: -38px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.card-wp {
	    // margin: 0px;
	    margin-top: -35px;
	    margin-left: -13px;
	    border-radius: 2px;
	    width: 105%;
	    font-size: 1.4rem;
	    background: #fff;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.toolbar-title-wp {
		font-weight: 500;
	    text-transform: none;
	}
	.cart-imgs{
		height: 14px;
		width: 12px;
	}
	.cart-parag{
		font-size: 10px;
    	color: #6C6C6C;
	}
	.cart-list{
		border-top: 1px solid #D1D1D1;
		border-bottom: 1px solid #D1D1D1;
		margin: 0px;
  //   	width: 97%;
	}
	.item-md ion-thumbnail {
	    min-width: 50px;
	    min-height: 50px;
	}
	.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
	    width: 75px !important;
	    height: 75px !important; 
	    border-radius: 4px;
	}
	.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
	    width: 75px !important;
	    height: 75px !important; 
	    border-radius: 4px;
	}
	.toolbar-title-wp {
		font-weight: 500;
	    text-transform: none;
	}
	.item-wp ion-thumbnail ion-img, .item-wp ion-thumbnail img {
	    width: 75px !important;
	    height: 75px !important; 
	    border-radius: 4px;
	}
	.delete-img{
		height: 25px;
		width: 25px;
	}
	.count-btn{
		height: 35px !important;
	    font-size: 16px !important;
	    width: 35px;
	    border-radius: 35px;
	    font-weight: 500;
	    color: #000000;
	    background-color: #CFCFCF;
	    margin: 0px;
    	padding: 0px;
    	padding-top: 10px;
	}
	.btn-product{
		font-size: 12px;
		text-transform: none !important;
	}
	.count-btn:focus{
	    background-color: #CFCFCF;
	}
	.icon_middle span {
	    display:block;
	}
	.product-span{
		font-size: 12px;
    	color: #767676;
    	font-weight: 500;
    	margin-top: 5px;
	}
	.item-md .item-button {
	    margin-top: 12px;
	    padding-top: 10px;
	    padding-left: 7px;
	}
	.item-ios .item-button {
	    margin-top: 12px;
	    padding-top: 10px;
	    padding-left: 7px;
	}
	.item-wp .item-button {
	    margin-top: 12px;
	    padding-top: 7px;
	    padding-left: 5px;
	}
	.segment-button {
	    border-top-left-radius: 0px;
	    border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	    border: none !important;
	    margin-right: 0;
	    color: #fff !important;
	    background-color: #2D2D2D !important;
	    font-size: 12px !important;
	    font-weight: 500;
	    text-transform: none !important;
	}
	.segment-ios .segment-button:first-of-type {
	    border-top-left-radius: 0px;
	    border-top-right-radius: 2px;
	    border-bottom-right-radius: 2px;
	    border-bottom-left-radius: 0;
	}
	.segment-ios .segment-button:last-of-type {
	    border-top-left-radius: 2px;
	    border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 2px;
	}
	.segment-button.segment-activated {
	    color: #fff;
	    background-color: #0A76D2 !important;
	}
	.back-button-wp {
	    margin: 0px -15px;
	    min-width: 44px;
	    box-shadow: none;
	}

	// css for supplier login 

	.search-css {
		border: 1px solid;
	    border-radius: 26px;
	    margin: 18px;
	    width: 90%;
	    min-height: 38px;
	    border-color: #E7E7E7;
	    background: none;	
	    max-height: 20px;
	}
	.img-css{
		height: 20px;
		width: 20px;
	}
	.search-div{
		text-align: center;
    	padding-left: 0px;
    	// padding-top: 8px;
	}
	.text-input-md {
	    margin: 0px;
	    padding: 0;
	    width: calc(100% - 8px - 8px);
	    font-size: 14px;
	    font-weight: 500;
	}
	.text-input-ios {
	    margin: 0px;
	    padding: 0;
	    width: calc(100% - 8px - 8px);
	    font-size: 14px;
	    font-weight: 500;
	}
	.text-input-wp {
	    margin: -10px 0px;
	    padding: 0;
	    width: calc(100% - 8px - 8px);
	    font-size: 14px;
	    font-weight: 500;
	}
	.acceptbtn {
		background-color: #0065b9;
		text-align: center;
		margin: auto;
		height: 2.8rem !important;
		font-size: 12px;
		border-radius: 3px;
	}
	.acceptedbtn {
		background-color: #58bc5d;
		text-align: center;
		margin: auto;
		height: 2.8rem !important;
		font-size: 12px;
		border-radius: 3px;
	}
	.productPrice {
		line-height: 30px;
    	color: #000000;
    	font-size: 16px;
	}
	.declinebtn {
		border: 1px solid #0065b9;
		color: #0065b9 !important;
		background-color: #ffffff !important;
		height: 2.8rem !important;
		font-size: 12px;
		border-radius: 3px;
	}
	.row-btn {
		margin-top: -22px;
    	margin-bottom: -12px;
	}
	.gridbtn {
		margin-top: -10px;
	}
	.headlist {
		font-size: 16px;
		font-weight: 500;
	}
	.item-css {
		margin-top: -18px;
		font-size: 15px;
	}

	// segment css
	.toolbar-ios .segment-ios {
	    left: 3px;
	    top: 0;
	    bottom: 0;
	    position: absolute;
	    width: 98%;
	}
	.toolbar-ios .segment-button {
	    max-width: 100px;
	    height: 4.6rem;
	    line-height: 4.5rem;
	}
	.toolbar-color {
		background-color: #1F1F1F !important;
	}
	.toolbar-background-md {
	    border-color: #1F1F1F !important;
	    background: #1F1F1F !important;
	}
	.toolbar-background-ios {
	    border-color: #1F1F1F !important;
	    background: #1F1F1F !important;
	}
	.toolbar-background-wp {
	    border-color: #1F1F1F !important;
	    background: #1F1F1F !important;
	}

	// contents
	.order-css {
		margin-left: 6px;
    	max-height: 50px;
	}
	// .item-inner {
	// 	margin-top: -15px;
	// }

	// contents

	.requestId {
		background-color: #e0e0e0;
	    width: 100px;
	    height: 22px;
	    padding-top: 3px;
	}
	.closebtn {
		padding-top: 3px !important;
    	background-color: #0A76D2;
	}
	ul {
	  padding: 0px;

	  &.rating li {
	    padding: 5px 2px !important;
	    background: none;
	    color: #EC7E19;


	    ion-icon {
	      font-size: 25px;
	      border-radius: 12px;
	    }
	  }
	}
}
