<!--
  Generated template for the RequestlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>requestlist</ion-title>
  </ion-navbar>

</ion-header> -->
<!-- <header title="Request List"> </header> -->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Request List</ion-title>
  </ion-navbar>

  
  <ion-toolbar *ngIf="forSupplier" class="toolbar-color">
    <ion-segment [(ngModel)]="requests" (ionChange)="statusChanged($event)" *ngIf="showOnlyForUser" no-border-top>
      <ion-segment-button value="delivery">
        Delivery Request
      </ion-segment-button>
      <ion-segment-button value="open">
        Open Relationship
      </ion-segment-button>
      <ion-segment-button value="close">
        Close Relationship
      </ion-segment-button>
    </ion-segment>
    <ion-segment [(ngModel)]="requests" (ionChange)="statusChanged($event)" *ngIf="showForBoth" no-border-top>
      <ion-segment-button value="delivery">
        <p style="font-size: 10px;text-align: left;">Delivery Request</p>
      </ion-segment-button>
      <ion-segment-button value="open">
        <p style="font-size: 10px;text-align: left;">Open Relationship</p>
      </ion-segment-button>
      <ion-segment-button value="close">
        <p style="font-size: 10px;text-align: left;">Close Relationship</p>
      </ion-segment-button>
      <ion-segment-button value="userrequest">
        <p style="font-size: 10px;text-align: left;">User Requests</p>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="forUserContent">
    <div *ngIf="delivery">
      <ion-list class="cart-list" *ngFor="let request of deliveryrequests">
        <!-- {{request | json}} -->
       <!--  <ion-grid class="order-css">
          <ion-row>
            <ion-col col-8>
              <p> {{request.orderid}} </p>
            </ion-col>
            <ion-col col-4 style="text-align: right !important;">
              <p> {{request.created_at}} </p>
            </ion-col>
          </ion-row>
        </ion-grid> -->
          
          
        <ion-item>
          <p> {{request.orderid}} </p>
          <p> {{request.created_at}} </p>
          <p> <img src="assets/imgs/placeholder.png" class="cart-imgs"> {{request.address}}</p>
          <div *ngFor="let str of amountArray">
            <p> 
              {{ str | json }}
              {{str.totalSum}} 
              }
            </p>
          </div>
            
          <!-- <ion-thumbnail item-start>
            <img src="{{request.image}}">
          </ion-thumbnail>
          <h3>{{request.name}}</h3>
          <p class="cart-parag"><img src="{{request.map}}" class="cart-imgs"> {{request.parag}}</p>
          <p style="color: #000000;">{{request.price}}</p> -->
          <div item-end class="icon_middle"><button ion-button  class="count-btn" (click)="gotorequestDetail(request)">{{request.productCount}}</button> <span class="product-span">products</span></div>
          <img src="assets/imgs/delete.png" item-end class="delete-img cursor" (click)="deleteOrder(request.orderid)">
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="open">
      <ion-list class="cart-list" *ngFor="let list of lists">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="{{list.image}}">
          </ion-thumbnail>
          <h3>{{list.name}}</h3>
          <p class="cart-parag"><img src="assets/imgs/placeholder.png" class="cart-imgs"> {{list.parag}}</p>
          <!-- <p class="cart-parag"><img src="{{list.map}}" class="cart-imgs"> {{list.parag}}</p> -->
          <p style="color: #000000;">{{list.price}}</p>
          <div item-end class="icon_middle"><button ion-button  class="count-btn">{{list.count}}</button> <span class="product-span">products</span></div>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="close">
      <ion-list class="cart-list" (click)="addreview()" *ngFor="let list of lists">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="{{list.image}}">
          </ion-thumbnail>
          <h3>{{list.name}}</h3>
          <p class="cart-parag"><img src="assets/imgs/placeholder.png" class="cart-imgs"> {{list.parag}}</p>
          <!-- <p class="cart-parag"><img src="{{list.map}}" class="cart-imgs"> {{list.parag}}</p> -->
          <p style="color: #000000;">{{list.price}}</p>
          <div item-end class="icon_middle"><button ion-button  class="count-btn">{{list.count}}</button> <span class="product-span">products</span></div>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="forSupplierContent">
    <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar> -->
    <ion-grid class="search-css" (ionInput)="setFilteredItems()">
      <ion-row>
        <ion-col col-2 col-xl-2 class="search-div">
          <img src="assets/imgs/search.png" class="img-css">
        </ion-col>
        <ion-col col-10 col-xl-10>
          <ion-input type="text" placeholder="Search..." [(ngModel)]="searchTerm"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <ion-item padding class="item-css">
        <ion-label>Distance</ion-label>
        <ion-select [(ngModel)]="distance">
          <ion-option value="five">5 KM</ion-option>
          <ion-option value="ten">10 KM</ion-option>
          <ion-option value="fifteen">15 KM</ion-option>
          <ion-option value="twenty">20 KM</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <!-- <br/> -->
    <div>
      <ion-list class="cart-list" *ngFor="let reqs of userrequests">
        {{ reqs | json }}
        <ion-item>
          <ion-grid class="gridbtn">
            <ion-row>
              <ion-col col-3>
                <ion-thumbnail >
                  <img src="{{reqs.image}}">
                </ion-thumbnail>
              </ion-col>
              <ion-col col-7>
                <h3 class="headlist">{{reqs.name}}</h3>
                <!-- <p class="cart-parag"><img src="{{reqs.map}}" class="cart-imgs"> {{reqs.parag}}</p> -->
                <p class="cart-parag"><img src="{{reqs.map}}" class="cart-imgs"> {{reqs.parag}}</p>
                <p class="productPrice">{{reqs.price}}</p>
              </ion-col>
              
              <ion-col col-2 style="float: right;">
                <div class="icon_middle"><button ion-button  class="count-btn">{{reqs.count}}</button> <span class="product-span">products</span></div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="row-btn">
              <ion-col col-3></ion-col>
              <ion-col col-7>
                <button ion-button class="acceptbtn" (click)="accepttoshowList(reqs.orderid)">ACCEPT</button>
                <button ion-button class="declinebtn" (click)="declineRequest(reqs.orderid)">DECLINE</button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="forBothContent">
    <div *ngIf="delivery">
      <ion-list class="cart-list" *ngFor="let request of deliveryrequests">
        <!-- {{ request | json }} -->
        <ion-item>
          <p><b>OrderId: </b> {{request.orderid}} </p>
          <p><b>Order_date: </b> {{request.created_at}} </p>
          <p> <img src="assets/imgs/placeholder.png" class="cart-imgs"> {{request.address}}</p>
          <!-- <p class="productPrice" style="color: #000000;">₹ {{request.totalSum}}</p> -->
          <!-- <div *ngFor="let str of mergeArray"> -->
           <!--  <p class="productPrice" style="color: #000000;" *ngFor="let str of amountArray"> 
              {{ str | json }}
              {{str.totalSum}} 
              
            </p>
          -->
          <!-- </div> -->
          <!-- <ion-thumbnail item-start>
            <img src="{{request.image}}">
          </ion-thumbnail>
          <h3>{{request.name}}</h3> -->
          <!-- <p class="cart-parag"><img src="{{request.map}}" class="cart-imgs"> {{request.parag}}</p> -->
          <!-- <p class="cart-parag"><img src="{{request.map}}" class="cart-imgs"> {{request.parag}}</p>
          <p style="color: #000000;">{{request.price}}</p> -->
          <div item-end class="icon_middle"><button ion-button  class="count-btn" (click)="gotorequestDetail(request)">{{request.productCount}}</button> <span class="product-span">products</span></div>
          <img src="assets/imgs/delete.png" item-end class="delete-img cursor" (click)="deleteOrder(request.orderid)">
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="open">
      <ion-list class="cart-list" *ngFor="let openproduct of openrelations">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="{{openproduct.UserDetails.userImage}}" *ngIf="!openproduct.UserDetails.userImage==''">
            <img src="assets/imgs/bgcolor.png" *ngIf="openproduct.UserDetails.userImage==''">
          </ion-thumbnail>

          <p class="requestId" *ngIf="id === openproduct.UserDetails.ID">{{ownUser}}</p>
          <p class="requestId" *ngIf="id != openproduct.UserDetails.ID">{{anotherUser}}</p>
          <!-- <p class="requestId" *ngIf="ownUser">Your Request</p> -->
          <!-- <p class="requestId" *ngIf="anotherUser">Deliver Request</p> -->
          <!-- <p class="requestId">{{ id === openproduct.UserDetails.ID ? 'Your Request' : 'Deliver Request' }}</p> -->
          <!-- <div *ngIf="id === openproduct.UserDetails.ID; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock ><p>Your Request</p></ng-template>
          <ng-template #elseBlock><p>Deliver Request</p></ng-template>  -->

          <h3>{{openproduct.UserDetails.name}}</h3>
          <!-- <p class="cart-parag"><img src="{{openproduct.map}}" class="cart-imgs"> {{openproduct.parag}}</p> -->
          <p class="cart-parag"><img src="assets/imgs/placeholder.png" class="cart-imgs"> {{openproduct.address}}</p>
          <!-- <p style="color: #000000;">{{openproduct.price}}</p> -->
          <button ion-button class="closebtn" *ngIf="id === openproduct.UserDetails.ID" (click)="toMakeClose(openproduct)">make close relation</button>
          <div item-end *ngIf="id != openproduct.UserDetails.ID" class="icon_middle"><button ion-button  class="count-btn" (click)="seeListOfProducts(openproduct)">{{openproduct.productCount}}</button> <span class="product-span">products</span></div>
          <div item-end *ngIf="id === openproduct.UserDetails.ID" class="icon_middle"><button ion-button  class="count-btn" (click)="viewProductList(openproduct)">{{openproduct.productCount}}</button> <span class="product-span">products</span></div>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="close">
      <ion-list class="cart-list" *ngFor="let closeproduct of closerelations;let i = index ">
        <!-- {{closeproduct | json}} -->
        <!-- <ion-item *ngIf="closeproduct.reviewStar >0 ">
        </ion-item> -->
        <ion-item (click)="addreview(closeproduct, i)">
          <ion-thumbnail item-start>
            <img src="{{closeproduct.UserDetails.userImage}}" *ngIf="!closeproduct.UserDetails.userImage==''">
            <img src="assets/imgs/bgcolor.png" *ngIf="closeproduct.UserDetails.userImage==''">
          </ion-thumbnail>
          <h3>{{closeproduct.UserDetails.name}}</h3>
          <!-- <p class="cart-parag"><img src="{{closeproduct.map}}" class="cart-imgs"> {{closeproduct.parag}}</p> -->
          <p class="cart-parag"><img src="assets/imgs/placeholder.png" class="cart-imgs"> {{closeproduct.address}}</p>
          <!-- <rating [(ngModel)]="ratings" 
                  readOnly="true" 
                  max="5" 
                  emptyStarIconName="star-outline" 
                  halfStarIconName="star-half" 
                  starIconName="star" 
                  nullable="false">
          </rating> -->
          <!-- <p style="color: #000000;">{{closeproduct.price}}</p> -->
          <!-- <rating *ngIf="supplierid === openproduct.supplierid" readOnly="true">{{ratings}}</rating> -->
          <!-- <h4 *ngIf="supplierid === closeproduct.supplierid"> Value {{ratings.star}} </h4> -->
          <rating *ngIf="closeproduct.reviewStar > 0" [(ngModel)]="closeproduct.reviewStar" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"> </rating>
          <!-- <rating *ngIf="reviewOrderId === closeproduct.orderid &&closeUserId === closeproduct.UserDetails.ID" [(ngModel)]="ratings" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"> </rating> -->
          <div item-end class="icon_middle"><button ion-button  class="count-btn">{{closeproduct.productCount}}</button> <span class="product-span">products</span></div>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="userrequest">
      <ion-grid class="search-css" (ionInput)="setFilteredItems()">
        <ion-row>
          <ion-col col-2 col-xl-2 class="search-div">
            <img src="assets/imgs/search.png" class="img-css">
          </ion-col>
          <ion-col col-10 col-xl-10>
            <ion-input type="text" placeholder="Search..." [(ngModel)]="searchTerm"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <ion-item padding class="item-css">
          <ion-label>Distance</ion-label>
          <ion-select [(ngModel)]="distance">
            <ion-option value="five">5 KM</ion-option>
            <ion-option value="ten">10 KM</ion-option>
            <ion-option value="fifteen">15 KM</ion-option>
            <ion-option value="twenty">20 KM</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <div>
        <ion-list class="cart-list" *ngFor="let reqs of userrequests">
          <!-- {{reqs | json}} -->
          <ion-item>
            <ion-grid class="gridbtn">
              <ion-row>
                <ion-col col-3>
                  <ion-thumbnail >
                    <img src="{{reqs.UserDetails.userImage}}" *ngIf="!reqs.UserDetails.userImage==''">
                    <img src="assets/imgs/bgcolor.png" *ngIf="reqs.UserDetails.userImage==''">
                  </ion-thumbnail>
                </ion-col>
                <ion-col col-7>
                  <h3 class="headlist">{{reqs.UserDetails.name}}</h3>
                  <!-- <p class="cart-parag"><img src="{{reqs.map}}" class="cart-imgs"> {{reqs.parag}}</p> -->
                  <p class="cart-parag"><img src="assets/imgs/placeholder.png" class="cart-imgs"> {{reqs.address}}</p>
                  <!-- <p class="productPrice">₹ {{totalprice}}</p> -->
                </ion-col>
                
                <ion-col col-2 style="float: right;">
                  <div class="icon_middle"><button ion-button  class="count-btn" (click)="viewProductList(reqs)">{{reqs.productCount}}</button> <span class="product-span">products</span></div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row class="row-btn">
                <ion-col col-3></ion-col>
                <ion-col col-7>
                  <button ion-button class="acceptbtn" (click)="accepttoshowList(reqs)">ACCEPT</button>
                  <!-- <button ion-button class="acceptedbtn" *ngIf="accepted">ACCEPTED</button> -->
                  <button ion-button class="declinebtn" (click)="declineRequest(reqs)">DECLINE</button>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="applyFooter">
  <ion-toolbar>
    <ion-grid ion-fixed>
        <ion-row>
          <ion-col col-12 col-xl-12>
            <ion-list>
                <ion-card>
                  <ion-slides class="slidesCss">
                      <ion-slide (ionSlideDidChange)="slideChanged()">
                        <ion-grid class="grid-css" (click)="gotoHome()">
                          <ion-row>
                            <ion-col col-12>
                              <img src="assets/imgs/house.png" class="imagebgColor">
                            </ion-col>
                            <ion-col col-12 class="title-col">
                              <p class="footerP">HOME</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-grid class="grid-css" (click)="gotoCart()">
                          <ion-row>
                            <ion-col col-12>
                              <img src="assets/imgs/cart.png" class="imagebgColor">
                            </ion-col>
                            <ion-col col-12 class="title-col">
                              <p class="footerP">SHOPPING LIST</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-grid class="grid-css active" (click)="gotoRequest()">
                          <ion-row>
                            <ion-col col-12>
                              <img src="assets/imgs/request.png" class="imagebgColor">
                            </ion-col>
                            <ion-col col-12 class="title-col">
                              <p class="footerP">REQUEST</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-grid class="grid-css" (click)="gotoProfile()">
                          <ion-row>
                            <ion-col col-12 >
                              <img src="assets/imgs/profile.png" class="imagebgColor">
                            </ion-col>
                            <ion-col col-12 class="title-col">
                              <p class="footerP">PROFILE</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-slide>
                      <ion-slide (ionSlideDidChange)="slideChanged()">
                        <ion-grid class="grid-css" (click)="gotoNotification()">
                          <ion-row>
                            <ion-col col-12 >
                              <img src="assets/imgs/bell.png" class="imagebgColor">
                            </ion-col>
                            <ion-col col-12 class="title-col">
                              <p class="footerP">NOTIFICATION</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-grid class="grid-css" (click)="gotoInquiryProduct()">
                          <ion-row>
                            <ion-col col-12 >
                              <img src="assets/imgs/inquiry.png" class="imagebgColor">
                            </ion-col>
                            <ion-col col-12 class="title-col">
                              <p class="footerP">INQUIRY PRODUCT</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-grid class="grid-css" (click)="gotoInviteFriend()">
                          <ion-row>
                            <ion-col col-12 >
                              <img src="assets/imgs/adduser.png" class="imagebgColor">
                            </ion-col>
                            <ion-col col-12 class="title-col">
                              <p class="footerP">INVITE FRIENDS</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-grid class="grid-css" (click)="gotoChangePassword()">
                          <ion-row>
                            <ion-col col-12 >
                              <img src="assets/imgs/lockbk.png" class="imagebgColor">
                            </ion-col>
                            <ion-col col-12 class="title-col">
                              <p class="footerP">CHANGE PASSWORD</p>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-slide>
                    </ion-slides>
                </ion-card>
            </ion-list>
           </ion-col>
        </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>